.interno-bg{
  background-color: var(--cor-11);
}

.interno{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.interno-conteudo{
  align-self: start;
}

.interno-conteudo p{
  margin-bottom: 32px;
}

.interno-imagens{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.imagens-bike{
  grid-column: 1/-1;
}

.comprar{
  display: flex;
  gap: 12px;
  margin-bottom: 40px;
}

.comprar li{
  display: flex;
  gap: 8px;
  background-color: var(--cor-12);
  max-width: max-content;
  padding: 4px 8px;
  border-radius: 5px;
}

.comprar li:first-child{
  margin-bottom: 8px;
}

.interno-info{
  grid-column: 2;
}

.interno-info h2,
.interno-ficha h2{
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 12px;
}

.interno-info ul{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  padding: 32px;
  background-color: var(--cor-12);
  border-radius: 5px;
  margin-bottom: 40px;
}

.interno-ficha ul{
  background-color: var(--cor-12);
  border-radius: 5px;
  padding: 32px;
}

.interno-ficha li{
  border-bottom: 1px solid var(--cor-11);
  padding-bottom: 5px;
  margin-bottom: 6px;
  display: flex;
  justify-content: space-between;
}

.interno-ficha span{
  color: var(--cor-6);
}

.reduzido{
  max-width: 1000px;
}

.interno-seguro{
  padding: 140px 0 60px 0;
}

.seguro-bg{
  background-color: var(--cor-11);
  box-shadow: inset 0 80px var(--cor-0), inset 0 -80px var(--cor-12);
}
