* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
}

a {
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

img[src$=".jpg"] { /* seleciona elemento com atributo source e termine em jpg */
  border-radius: 4px;
}

.redes {
  display: flex;
  align-items: center;
  gap: 32px;
}