* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

a {
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

img[src$=".jpg"] { /* seleciona elemento com atributo source e termine em jpg */
  border-radius: 4px;
}

