.header-bg {
  background-color: var(--cor-12);
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* mantem sempre uma distancia de no mín 20px entre o logo e o menú, quando chega aos 20px, quebra de linha pois temos o flex-wrap: wrap */
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a {
  display: inline-block; /* por ser um elemento inline quando ficarem um embaixo do outro o padding não pegaria muito bem, por isso definimos com display: inline-block; */
  padding: 16px 0;
  position: relative;
}

.header-menu a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  margin-top: 4px;
  background: var(--cor-0);

  transition: 0.3s; /* para dar aquele efeitinho de barra crescendo quando aparece */

  position: absolute; /* para tirar do fluxo pois normalmente adiciona 2px ao menu desconfigurando seu alinhamento ao centro */
}

/* se crio o meu elemento after diretamente no hover ocorrerá o bug de quando aparecer o efeito ao passar o mouse por cima o menú crescerá e ficará "dançando", por isso criamos nosso elemento after porém deixamos "invisivel" com o width:0; e depois o deixamos aparente no hover com width: 100%; */

.header-menu a:hover:after,
.header-menu a.ativo::after {
  width: 100%;
}

/* HEADER RESPONSIVO-- */
@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }

  .header-menu a {
    background-color: var(--cor-11);
    padding: 12px 16px;
    border-radius: 4px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
  }

  .header-menu a:hover {
    background-color: var(--cor-10);
  }

  .header-menu a::after {
    display: none;
  }
}
@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
    justify-content: center;
  }

  .header-menu a {
    padding: 8px 12px;
    font-size: 14px;
  }
}
