@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&display=swap");
.depoimento {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--cor-p1);
  overflow: hidden; /* cada vez q um elemento estourar o container será oculto */
}

.depoimento img {
  border-radius: 0px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.depoimento-conteudo {
  align-self: end;
  padding: 40px 40px 80px 80px;
}

.depoimento-conteudo p {
  font-family: "Merriweather", serif;
  font-style: italic;
  font-weight: 900;
  margin-bottom: 32px;
  max-width: 32ch;
  position: relative;
}

.depoimento-conteudo p::before,
.depoimento-conteudo p::after {
  font-size: 5rem;
  color: var(--cor-p2);
  position: absolute;
}
.depoimento-conteudo p::before {
  content: "“";
  top: -20px;
  left: -50px;
}
.depoimento-conteudo p::after {
  content: "”";
}

/* RESPONSIVO */
@media (max-width: 800px) {
  .depoimento {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .depoimento img{
    max-height: 200px;
  }
  .depoimento-conteudo{
    padding: 40px 20px;
    justify-self: center;
  }
}
