/* --INTRO-- */
.intro-bg {
  background: var(--cor-12) url(../../img/dec/bottom-left.svg) no-repeat bottom 160px left 20px;
  box-shadow: inset 0 -120px var(--cor-0);
}

.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 40px;
}

.intro-conteudo {
  grid-row: 1 / 3;
  align-self: end;
  padding-bottom: 200px;
  gap: 20px;
}

.intro h1 {
  margin-bottom: 32px;
}

.intro p {
  grid-column: 1;
  margin-bottom: 20px;
}

.intro img {
  grid-column: 2;
  grid-row: 1 / 3;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  object-fit: cover; /* imagem é cortada para caber 100% ao invés de ficar se esticando */
}

/* RESPONSIVO-- */
@media (max-width: 800px) {
  .intro-bg {
    background-color: var(--cor-11);
    padding-top: 40px;
    box-shadow: inset 0 -60px var(--cor-0);
  }

  .intro {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .intro-conteudo {
    padding-bottom: 0;
  }

  .intro h1 {
    margin-bottom: 16px;
  }

  .intro img {
    height: 300px;
    width: 100%;
  }
}

