.seguros-bg{
  background-color: var(--cor-11);
}

.seguros{
  padding: 60px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

.seguros h2{
  grid-column: 1 / -1;
}

.seguros-item{
  background-color: var(--cor-12);
  padding: 32px 32px 32px 60px;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr auto;
}
.seguros-item h3{
  margin-bottom: 40px;
}
.seguros-item span{
  grid-column: 2;
  display: block; /* faz com que fique um span embaixo do outro e nao do lado como estava inicialmente */
  text-align: right;
}
.seguros-item ul{
  grid-column: 1/-1;
  margin-bottom: 32px;
}

.seguros-item li{
  display: flex;
  align-items: center;
  /* para deixar alineado o conteudo da lista com o svg */
  position: relative;
}
.seguros-item li::before{
  content: "";
  display: inline-block;
  width: 13px;
  height: 9px;
  background-image: url(../../img/icones/lista.svg);
  position: absolute;
  left: -20px;
}
.seguros-item li + li{ /* adicionara apenas à li que estiver embaixo de uma li, ou seja, não serao aplicados na primeira li */
  margin-top: 20px;
}

/* SEGURO */
@media(max-width: 800px){
  .seguros{
    grid-template-columns: 1fr;
  }
}